@import url('https://fonts.googleapis.com/css?family=Courgette');
@import  "./mixins.sass", "./variables.sass", "./reset.sass"
.pg-header
  .back-top
    cursor: pointer
    z-index: 1
    text-align: center
    position: fixed
    height: 1.5rem
    width: 1.5rem
    bottom: .5rem
    right: .5rem
    color: $grey
    background: $lightBlack
    opacity: 0
    transition: opacity .5s
  .banner
    position: relative
    min-height: 100vh
    background-image: url(https://image.ibb.co/mG6eay/bannerbg.jpg)
    background-attachment: fixed
    @include bgImg
    font-size: 1.5rem
    .overlay
      background-color: rgba(0, 0, 0, 0.1)
    .header-title
      height: 100%
      align-items: center
      @include flexColumn
      .title-name
        font-family: 'Courgette', cursive;
        color: $lightBlack
      .mock-search-bar
        font-size: .85rem
        box-shadow: 0 2px 16px 3px #a4a4a4, 0 0 16px 3px #a4a4a4, 0 0 16px 3px #a4a4a4;  
        margin-top: .5rem
        color: $lightBlack
        padding: .3rem
        width: 50%
        height: 1.4rem
        background-color: $grey
        font-size: .8rem
        @include responsive(414px, 320px)
          width: 90%
        @include responsive(1024px, 768px)
          width: 90%
        i
          color: #ccc
        h2
          display: inline-block
          &:after
            content: ""
            display: inline-block
            width: .1rem
            height: .7rem
            vertical-align: baseline
            margin-left: .2rem
            background-color: $lightBlack
            animation: flash infinite 1s
        .right
          float: right
// END of pg-header
.section-header
  @include secHeader
#section-about
  // min-height: 100vh
  color: $lightBlack
  .about-content
    display: flex;
    flex-direction: column
    font-size: .5rem
    text-align: center
    .about-skills
      background-color: $greyBg
    .intro-header, .skills-header
      padding: .5rem 0
      font-size: 1rem
    .intro-content, .skills-content
      padding: .5rem 4.8rem
      p
        margin-bottom: .5rem
    .intro-content
      line-height: 1.5
      @include responsive(414px, 320px)
        padding: .5rem 2rem
      @include responsive(1024px, 768px)
        padding: .5rem 2rem
    .skills-content
      display: flex
      flex-direction: row
      justify-content: space-around
      align-items: center
      flex-wrap: wrap
      @include responsive(414px, 320px)
        padding: .5rem
      @include responsive(1024px, 768px)
        padding: .4rem
      .skill-detail
        background-color: $grey
        border-radius: .5rem
        padding-top: 1.2rem
        width: 4.5rem
        height: 2.84rem
        margin-bottom: .25rem
        transition: all .5s
        @include responsive(414px, 320px)
          padding-top: .7rem
        @include responsive(1024px, 768px)
          padding-top: .7rem
        .skill-mark
          opacity: 0
          @include responsive(414px, 320px)
            opacity: 1
          @include responsive(1024px, 768px)
            opacity: 1
          transition: opacity .5s
        .skill-name
          margin-bottom: .5rem
        .lose-mark
          color: #ccc
        &:hover
          padding-top: .7rem
          .skill-mark
            opacity: 1
// END of about section
#section-works
  color: $lightBlack
  padding-bottom: .6rem
  .works-content
    padding-bottom: .1rem
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    @include bgImg
    .fcc-weather
      background-image: url(https://image.ibb.co/msuDRT/fcc_weather.png)
    .fcc-wiki
      background-image: url(https://image.ibb.co/cEaCmT/fcc_wiki.png)
    .fcc-twitch
      background-image: url(https://image.ibb.co/gRTJt8/fcc_twitch.png)
    .first-site
      background-image: url(https://image.ibb.co/ga456T/first_site.png)
    .blog-site
      background-image: url(https://image.ibb.co/cd9rD8/blog_site.png)
    .comming-soon
      background-image: url(http://via.placeholder.com/350x350?text=Comming%20Soon)
    .desc
      opacity: 0
      padding: .5rem
      color: $grey
      margin: 0 auto
      transition: opacity .5s
      @include responsive(414px, 320px)
        opacity: 1
        padding-top: 2rem
      @include responsive(1024px, 768px)
        opacity: 1
        padding-top: 1rem
      h3
        margin-bottom: .7rem
        font-size: .5rem
      p
        margin-bottom: .5rem
        line-height: 1.5
        font-size: .4rem
        @include responsive(414px, 320px)
          display: none
          margin-bottom: 0
        span
          margin-right: .5rem
          &:last-child
            margin-right: 0
      a
        font-size: .5rem
        color: $grey
        @include responsive(414px, 320px)
          padding: .2rem
          background-color: $grey
          color: $lightBlack
          border: 2px solid $lightBlack
    .work-detail
      position: relative
      text-align: center
      margin-bottom: .1rem
      height: 7rem
      width: 33%
      overflow: hidden
      @include bgImg
      &:hover
        .desc
          opacity: 1
#section-contact
  background: $greyBg
  .contact-content
    padding: .5rem 4.8rem
    position: relative
    font-size: .5rem
    display: flex
    justify-content: space-around
    align-items: start
    @include responsive(414px, 320px)
      padding: .5rem
    @include responsive(1024px, 768px)
      padding: .5rem
    form, .contact-detail
      width: 50%
      padding: 0 1.5rem
      @include responsive(414px, 320px)
        padding: .5rem
      @include responsive(1024px, 768px)
        padding: .5rem
    input, textarea
      background: $grey
      width: 100%
      display: block
      border: 2px solid $lightBlack
      padding: 0 .5rem
      margin: .25rem 0 .5rem
      transition: all .5s
      @include responsive(414px, 320px)
        font-size: .25rem
    input:focus
        padding: .25rem .5rem
    textarea
      padding-top: .5rem
      height: 5rem
    .btn-submit
      width: 100%
    .btn
      padding: .2rem
      background-color: $grey
      color: $lightBlack
      border: 2px solid $lightBlack
      transition: all .5s
      &:hover
        background-color: $lightBlack
        color: $grey
    .contact-detail
      li
        margin-bottom: 1rem
      button
        vertical-align: middle
      
.pg-footer
  color: $grey
  @include secHeader
  background: $lightBlack
  font-size: .5rem
  